@import "tailwindcss";

:root {
  --bg: #f8f5f0;
  --card: #ffffff;
  --primary: #6f4e37;
  --secondary: #2c2c2c;
  --accent: #a67b5b;
  --text: #333333;
  --light: #fdfbf7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family:
    "Poppins",
    "Segoe UI",
    sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

::selection {
  background: var(--primary);
  color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ece7df;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}